<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Galeri TK</a>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/galeri/hewan">Hewan</a></li>
      <li class="nav-item"><a class="nav-link" href="/galeri/buah">Buah</a></li>
      <li class="nav-item"><a class="nav-link" href="/galeri/kendaraan">Kendaraan</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    </ul>
  </nav>